@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Doto:wght@100..900&family=Gochi+Hand&family=Jersey+15&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,900;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Rubik+Wet+Paint&display=swap');
@import "tailwindcss";

body {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

body.light-theme {
    background-color: #f5f5f5;
    color: #000000;
}

body.dark-theme {
    background-color: rgb(20, 20, 20);
    color: #ffffff;
}

body.dark-theme a {
    color: #ffffff;
}

button:hover {
    cursor: pointer;
}

nav a:hover {
    color: blue;
}

nav a.active {
    color: greenyellow;
}

/* BTNS DETTAILS PERSON  */
.contain-btn-dettails {
    text-transform: uppercase;
    color: #052F4A;
    border-radius: calc(infinity * 1px);
    border: 3px solid #052F4A;
    transition: all 0.3s;
}

.contain-btn-dettails-dark {
    text-transform: uppercase;
    color: #cacaca;
    border-radius: calc(infinity * 1px);
    border: 3px solid #eeeeee;
    transition: all 0.3s;
}

.contain-btn-dettails p,
.contain-btn-dettails-dark p {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: calc(infinity * 1px);
    padding: 0 8px;
    width: 100%;
}

.contain-btn-dettails p {
    color: #052F4A;
}

.contain-btn-dettails-dark p {
    color: #c7c7c7;
}

.contain-btn-dettails:hover,
.contain-btn-dettails-dark:hover {
    background-color: #052F4A;
}

.contain-btn-dettails-dark:hover {
    p {
        border: 2px solid rgb(3, 226, 3);
        color: rgb(3, 226, 3);
    }
}

.contain-btn-dettails:hover {
    p {
        border: 2px solid white;
        color: white;
    }
}

.nav-dettails .contain-btn-dettails .active {
    p {
        background-color: rgb(3, 226, 3);
        color: #052F4A;
        border: 2px solid white;
    }
}

.nav-dettails .contain-btn-dettails-dark .active {
    p {
        background-color: rgb(3, 226, 3);
        color: #052F4A;
        border: 2px solid rgb(20, 20, 20);
    }
}


/* CONTAINER HERO PAGE */
/* .container {
    width: 100%;
    height: 100%;
    --color: rgba(0, 115, 19, 0.3);
    background-color: #ffffff;
    background-image: linear-gradient(180deg,
            transparent 24%,
            var(--color) 25%,
            var(--color) 26%,
            transparent 27%,
            transparent 74%,
            var(--color) 75%,
            var(--color) 76%,
            transparent 77%,
            transparent),
        linear-gradient(45deg,
            transparent 24%,
            var(--color) 35%,
            var(--color) 26%,
            transparent 17%,
            transparent 74%,
            var(--color) 75%,
            var(--color) 76%,
            transparent 77%,
            transparent);
    background-size: 900px 900px;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);
} */



/* BUTTON ANIMATED */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #ccdcfc;
    width: 45px;
    height: 45px;
    transition: all 0.5s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #076ace;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #2f5d8b;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.5s ease;
    opacity: 0
}

.cta:hover:before {
    width: 100%;
    background: #fffc55;
}

.cta:hover svg {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 500ms;
}

.cta-back:hover svg {
    transform: rotate(180deg);
}

.cta:active {
    transform: scale(0.95);
}

/* CARD */
.img_popular_card {
    position: relative;
}

.hover_el_popular_card {

    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    height: 100%;
    width: 100%;
    transition: 500ms;
    opacity: 0;
}

.hover_el_popular_card,
.center_position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hover_el_popular_card:hover {
    opacity: 1
}

.shadow-card {
    box-shadow: 10px 10px 10px rgb(65, 65, 65);
}

.shadow-card:hover {
    transition: all 500ms;
    box-shadow: 10px 10px 10px rgb(30, 39, 87);
}



/* "FILTERED GENRES" */
.filtered-genres-container,
.contain-top-cast {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtered-genres-title {
    align-self: baseline;
}


.filtered-genres-content {
    width: 100%;
    max-width: 1200px;
    /* -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%); */
}

/* PROGRESS VOTE */
.progressVote {
    padding: 20px;
    width: 101%;
    border-radius: 0 0 20px 20px;

    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    background: linear-gradient(180deg, transparent, rgba(143, 214, 62, 0.74) 16%, rgba(143, 214, 62, 0.842) 80%, rgba(143, 214, 62, 0.486), transparent);
}

/* img background */
.votes {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 500ms;
    z-index: -99;
}

.contain-top5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.btnSwitch {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Scritta principale in 3D */
.title-3d-votes {
    position: absolute;
    bottom: 25%;
    left: 5%;
    font-size: 120px;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    background: linear-gradient(135deg, #8bff1e, #f19822);
    color: transparent;
    -webkit-background-clip: text;
    /* Aggiunge il gradiente solo al testo */
    text-shadow:
        4px 4px 8px rgba(255, 255, 255, 0.6),
        0px 0px 25px rgba(238, 238, 238, 0.3),
        -4px -4px 15px rgba(255, 255, 255, 0.3);
    z-index: -1;
}

.title-3d-votes-mobile {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    background: linear-gradient(135deg, #8bff1e, #f19822);
    color: transparent;
    -webkit-background-clip: text;
    /* Aggiunge il gradiente solo al testo */
    text-shadow:
        4px 4px 8px rgba(255, 255, 255, 0.6),
        0px 0px 25px rgba(238, 238, 238, 0.3),
        -4px -4px 15px rgba(255, 255, 255, 0.3);
    z-index: -1;
}

/* Efectto di sovrapposizione */
.title-3d-votes::after,
.title-3d-votes-mobile::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(6px, 6px);
    filter: blur(8px);
}


/* COMING SOON */

.title-container-upComing {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Scritta principale in 3D */
.title-3d-upComing {
    position: absolute;
    bottom: -140px;
    font-size: 280px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -35px;
    padding: 10px;
    display: inline-block;
    background: linear-gradient(135deg, #ff1e8e, #f19822);
    -webkit-background-clip: text;
    /* Aggiunge il gradiente solo al testo */
    color: transparent;
    z-index: -1;
    text-shadow:
        4px 4px 8px rgba(255, 255, 255, 0.6),
        0px 0px 25px rgba(238, 238, 238, 0.3),
        -4px -4px 15px rgba(255, 255, 255, 0.3);
}

.coming-3d-upComing-mobile,
.soon-3d-upComing-mobile {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -10px;
    display: inline-block;
    background: linear-gradient(135deg, #ff1e8e, #f19822);
    -webkit-background-clip: text;
    /* Aggiunge il gradiente solo al testo */
    color: transparent;
    z-index: -1;
    text-shadow:
        4px 4px 8px rgba(255, 255, 255, 0.6),
        0px 0px 25px rgba(238, 238, 238, 0.3),
        -4px -4px 15px rgba(255, 255, 255, 0.3);
}

.coming-3d-upComing-mobile {
    top: 20%;
    left: 50%;
}

.soon-3d-upComing-mobile {
    bottom: 0;
    left: 50%;
}

.coming-show {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -10px;
    display: inline-block;
    background: linear-gradient(135deg, #ff1e8e, #f19822);
    -webkit-background-clip: text;
    /* Aggiunge il gradiente solo al testo */
    color: transparent;
    z-index: -1;
    text-shadow:
        4px 4px 8px rgba(255, 255, 255, 0.6),
        0px 0px 25px rgba(238, 238, 238, 0.3),
        -4px -4px 15px rgba(255, 255, 255, 0.3);
}

/* Effetto di sovrapposizione */
.title-3d-upComing::after,
.coming-3d-upComing-mobile::after,
.soon-3d-upComing-mobile::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(6px, 6px);
    filter: blur(8px);
}

.title-container-upComing {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* EPISODES SHOW  */
#episodes,
#seasons {
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 500ms;
}

#season {
    background-position: center center;
}

/* TITLE HOME */
.title-home {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(135deg, #1e53ff, #22d2f1);
    -webkit-background-clip: text;
    /* Aggiunge il gradiente solo al testo */
    color: transparent;
    z-index: -1;
    text-shadow:
        4px 4px 8px rgba(255, 255, 255, 0.6),
        0px 0px 25px rgba(12, 56, 177, 0.4),
        -4px -4px 15px rgba(24, 51, 207, 0.4);
}

/* LOADER  */

.loader {
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}


/* ANIMATION */
.arrow-show-more {
    opacity: 0;
    margin-left: 15px;
    transition: opacity 500ms ease-in-out;
}

.arrow-show-more.visible {
    margin-left: 5px;
    animation-name: arrowMore;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

@keyframes arrowMore {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.6;
        margin-left: 15px;
        transition: 800ms;
    }
}

.contain-arrow-show-minus {
    position: relative;
}

.arrow-show-minus {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    position: absolute;
}

.arrow-show-minus.visible {
    animation-name: arrowMinus;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

@keyframes arrowMinus {
    from {
        opacity: 0;
        margin-left: 25px;
    }

    to {
        opacity: 0.6;
        transition: 800ms;
        margin-left: 10px;
    }
}


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2c4d94;
    border-radius: 2px;
    transform: all .3s;
}

::-webkit-scrollbar-corner {
    color: red;
}

@media (max-width: 640px) {
    .filtered-genres-content {
        align-items: center;
    }
}

@media (width < 1700px) {
    .title-3d-upComing {
        bottom: -60px
    }
}

@media (width < 640px) {
    #main>*:not(#popular) {
        img {
            width: 1;
        }

        padding: 0 10px
    }

    .coming-show {
        font-size: 50px;
    }


    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: transparent
    }

    #contain-top-cast {
        gap: 0
    }

    #contain-top-cast>* {
        margin: 0
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}